.container  {

}

.categories-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f60;
}

.categories-menu a {
    flex: 1 200px 1fr;
    padding: 10px;
    border-radius: 4px;
    color: #ffffff;
    margin: 10px 10px;
    font-weight: 600;
}